/* BOX-SIZING */
* {
    box-sizing: border-box;
}

:root {
    --scheme-accent-100: #000b1c;
    --scheme-accent-200: #001728;
    --scheme-accent-300: #00485b;
    --scheme-accent-400: #1a6175;
    --scheme-accent-500: #3c7f93;
    --scheme-accent-600: #5ea0b5;
    --scheme-accent-600-10: rgba(94,160,181,0.1);
    --scheme-accent-600-30: rgba(94,160,181,0.3);
    --scheme-accent-600-50: rgba(94,160,181,0.5);
    --scheme-accent-700: #7abdd2;
    --scheme-accent-800: #9ce0f7;
    --scheme-accent-900: #a9eeff;
    --scheme-accent-1000: #b6fbff;
    --scheme-accent-1100: #c3ffff;
    --scheme-accent-1200: #c7ffff;
}

ul {
    margin: 0;
    padding: 0 0 0 var(--static-space-12);
}

li {
    padding: 0;
    list-style-position: inside;
    font-size: inherit;
    color: inherit;

    &::marker {
        margin-right: var(--static-space-4);
        color: var(--brand-on-background-weak);
    }
}

img {
    user-select: none;
}

/* SELECTION */
::selection {
    background: var(--neutral-on-background-medium);
    color: var(--neutral-background-strong);
}

/* LINK */
a {
    color: var(--brand-on-background-medium);
    text-decoration: none;

    &:hover {
        text-decoration-line: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 0.25em;
        text-decoration-color: var(--neutral-border-strong);
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    background: var(--static-transparent);
    width: var(--static-space-8);
    height: var(--static-space-8);
}

::-webkit-scrollbar-track {
    background: var(--static-transparent);
}

::-webkit-scrollbar-thumb {
    background: var(--neutral-alpha-medium);
    border-radius: var(--radius-999);
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);

    &:hover {
        background: var(--neutral-alpha-strong);
    }
}

.property-card {
    transition: transform 0.3s ease;
    
    &:hover {
        transform: scale(1.05);
    }
}

.property-page-container {
    position: relative;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 60px; // Increased gap for more spacing
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        max-width: 1200px;
        width: 100%;
    }

    &__property-info {
        flex: 1;
        max-width: 50%;
        padding: 20px;
        border-radius: 8px;

        &__image {
            border-radius: 8px;
            margin-bottom: 15px;
            width: 100%; // Make image responsive
            height: auto;
        }

        p {
            margin: 5px 0;
        }
    }

    &__matched-users {
        flex: 1;
        max-width: 40%;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

  
  